/*características geral da página*/
body {
	background-image: url("/Project1/resources/images/bgtile.jpg");
	padding-top: 20px;
	font-size: 16px;
	font-family: "Open Sans", serif;
	text-align: center;
}
/*ícon*/
img {
	display: block;
	margin: auto;
	overflow: hidden;
	opacity: 0.8;
	size: 70%;
	background-image: none;
	width: 200px;
	height: 200px;
	border-radius: 150px;
}
/*citação*/
blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	line-height: 30px;
	padding: 1% 4%;
	quotes: "\201C" ;
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}
cite {
	text-align: right;
	display: block;
}
.italic {
	font-style: italic;
}

/* formatação frase boas vindas */
h2 {
	background-color: #8fb5d3;
	padding: 1% 4%;
}

/* Override B3 .panel transfomando o fundo transparente */
.panel {
	background-color: rgba(255, 255, 255, 0.9);
	opacity: 0.7;
	padding-bottom: 20px;
}
/*formatação da mensagem de erro*/
.errorMessage>ul{
  padding: 0;
  list-style-type: none;
  margin-top: 20px;
}
